html, body { 
	margin: 0; 
	padding: 0; 
	border: 0;
	height: 100%;
	font-size: 14pt;
	font-family: Arial, Helvetica;
}

body {
	background: #005DAA;
	overflow: auto;
}

.container {
	margin: 0 12.5% 0 12.5%;
	height: inherit;
}

#header {
	color: white;
	height: 20%;
}

#content { 
	/* min-height: 75%; */
}

#footer { 
	background: #222222;
	color: whitesmoke;
	height: 80%;
}

#menu {
	margin: 1% 0 2% 0;
	padding: .75em 7% .75em 7%;
	background: whitesmoke;
}

.menuitem {
	margin-right: 8%;
}

#largebox {
	background-color: whitesmoke;
	padding: 2% 2% 2% 2%;
}

#smallbox-first {
	margin-right: 5%;
	margin-left: 9%;
}

#smallbox-middle {
	margin-right:5%;
	margin-left: 5%;
}

#smallbox-last {
	margin-right: 9%;
	margin-left: 5%;
}

.smallbox {
	height: 20%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 20%;
	background-color: whitesmoke;
	display: inline-block;
}